/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import 'compass/reset';
$alegreya: 'Alegreya', serif;
$gentium: 'Gentium Basic', serif;
$nobile: 'Nobile', sans-serif;
html {
	font-size: 62.5%;
}

.navbar-default {
	border: 0;
	background-color: #fff;
	background-image: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.site-title {
	font: bold 6.0rem $alegreya;

	display: block;
	float: none;

	height: inherit;
	margin: 0 auto;
	margin-top: 70px;

	text-align: center;
}
.site-title a {
	color: black;
}
.site-title a:active,
.site-title a:hover {
	text-decoration: none;

	color: black;
}

.subheader {
	font: 1.4rem $gentium;
	padding-bottom: 75px;

	text-align: center;
}
.navbar-center {
	display: inline-block;

	text-align: center;
}
.navbar-collapse {
	text-align: center;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	color: #c30;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	background-color: transparent;
}
.navbar-nav {
	li {
		text-align: center;
	}
	li a {
		font: bold 1.6rem $gentium;

		text-transform: uppercase;
	}
}
.img-center {
	display: block;
	float: none;

	margin-right: auto;
	margin-left: auto;

}
//sekcja intro
.intro {
	padding-top: 75px;
	h2 {
		font: 4.8rem $gentium;

		padding-top: 55px;

		text-align: center;
		text-transform: uppercase;
	}
	.slogan {
		font: 2.4rem $gentium;

		padding-top: 15px;
		padding-bottom: 15px;

		text-align: center;

		border-top: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
		margin-top: 60px;
	}

}
//blogpost
.blog-post {
	padding-top: 90px;
	text-align: center;
	padding-bottom: 70px;
	border-bottom: 1px solid lightgrey;
	h2 {
		font: 3.0rem $gentium;
		text-align: center;
		text-transform: uppercase;
	}
	h3 {
		font: 2.0rem $nobile;

		color: lightgrey;
		margin-top: 10px;
	}
	.glyphicon {
			font-size: 4.0rem;
			padding-bottom: 35px;
	}
	.post-lead {
		font-family: $nobile, Helvetica,Arial,sans-serif;
		font-size: 1.6rem;
		margin-top: 60px;
		line-height: 1.6;
	}
	.continue {
		@extend .post-lead;
			margin-top: 36px;
			border-bottom: 1px dotted grey;
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 145px;
			padding-bottom: 10px;
	}
	footer {
		padding-top: 35px;
	}
	.post-icon {
		width: auto;
		height: 300px;
		min-width: 200px;
		background-image: url("../img/bg.jpg");
		background-size: cover;
		margin-left: auto;
		margin-right: auto;
	}
}

footer {
	padding-bottom: 45px;
	padding-top: 100px;
	p {
		font: 1.4rem $gentium;

		text-align: center;
	}
}
@media (min-width: 768px) {
	.navbar-nav {
		float: none !important;

		margin: 0;
	}
}
@media (max-width: 770px){
	.navbar-default .col-md-12 {
		text-align: center;
		margin-top: 0;
		padding-top: 0;
	}
	.site-title {
		margin-top: -35px;
		display: inline-block;
	}
	.subheader {
		padding-bottom: 0;
		display: block;
	}
	.navbar-header button {
		margin-bottom: 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: transparent;
	}

	
}